body {
    background-color: black;
}

.ig-post {
    background-color: white;
    height: 530px;
    width: 430px;
    margin: auto;
    margin-top: 95px;
}

.post-header {
    display: flex;
    width: 100%;
    height: 50px;
} 

.post-header-logo img {
    margin-top: 15px;
    margin-left: 10px; 
    width: 25px;
    height: 25px;
}

.post-header-text h5 {
    margin-top: 11px;
    margin-bottom: 0px;
    margin-left: 5px;
    font-family: 'Roboto';
}


.post-header-text p {
    margin-top: 0px;
    margin-left: 5px;
    font-family: 'Roboto';
    font-size: smaller;
}

.post-header-dots img {
    width: 30px;
    height: 28px;
    margin-top: 10px;
    margin-left: 305px;
}

.post-image {
    width: 100%;
    height: 260px;
}

.post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-logos {
    display: flex;
    width: 100%;
    height: 35px;
    justify-content: space-between;
    align-items: center;
}

.heart, .comment, .send, .save {
    width: 25px;
    height: 25px;
    margin-top: 20px;
    margin-right: 3px;
}

.heart {
    margin-left: 10px;
}

.save {
    margin-right: 12px;
}

.post-text-top, .post-text-bottom {
 font-size: 14px;
 font-family: 'Roboto';
 margin-left: 12px;
} 

.post-text-bottom p {
    word-break: break-all;
    margin-right: 20px;
}

